body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url(https://i.pinimg.com/originals/be/1a/21/be1a211025c83e2b71224e1fa726a696.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
}

.container {
    width: 700px;
    margin: 50px auto;
    background-color: rgba(248, 248, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10);    
}

div {
    font-size: 20px;
    text-align: center;
}