body {
    font-family: Arial, sans-serif;
    font-size: 30px;
    background-color: white;
    display: flex;
}

caption {
    text-align: right;
}

#table {
    margin: 100px auto;
    border: 3px solid rgb(138, 138, 138);
    padding: 10px;
}

table {
    border-collapse: collapse;
    text-align: center;
}

thead{
    border: 3px solid white;
}

th {
    padding: 20px;
}

#white {
    color: white;
}

td {
    padding: 20px;
}

.text {
    color: white;
    height: 30px;
    width: 30px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
    margin: auto;
}

tfoot {
    border: 3px solid white;
    

}

.SPECIFICATION {
    background-color:rgb(218, 218, 218);
    color: white;
}

.FREE {
    background-color:rgb(14, 170, 231);
    color: white;
}

.BASIC {
    background-color: rgb(17, 228, 87);
    color: white;
}

.STANDART {
    background-color:rgb(231, 173, 14);
    color: white;
}

.PREMIUM {
    background-color: rgb(211, 27, 27);
    color: white;
}



